/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-dark {
    --bs-navbar-color: beige;
    --bs-navbar-hover-color: bisque;
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: aliceblue;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);

}
.courses {
    list-style: none;
}
    .courses > li {
        position: relative;
        margin-bottom: 30px;
    }
        .courses > li .date {
            text-align: center;
            background-color: #d41d50;
            color: black;
            width: 60px;
            border-radius: 8px;
        }
        .courses > li .details {
            position: absolute;
            top: 0;
            left: 70px;
        }
